PriyankaTraining/application_files/datatype/%7Burn%3Acom%3Aappian%3Atypes%7DTest_Demo_DT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com:appian:types"
  xmlns:tns="urn:com:appian:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Test_Demo_DT">
    <xsd:annotation>
      <xsd:documentation><![CDATA[test]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Test" nillable="true" type="xsd:string"/>
      <xsd:element name="Result" nillable="true" type="xsd:double"/>
      <xsd:element name="Grade" nillable="true" type="xsd:string"/>
      <xsd:element name="Pass" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
